.cashRegister{
    background-color: #171A1E;
}

.cash-register-internal-topbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cash-register-close-session-button{
    margin-right: 20px!important;
    border: 3px solid #cc2234!important;
    color: white;
    background-color: #171A1E!important;
    font-size: 1.2rem!important;
    width: 170px!important;
    cursor: pointer;
    height: auto!important;
}

.cash-register-close-session-button:hover{
    background-color: #cc2234;
}