.topbarClickNET{
  height: 40px;
  background-color: #685489;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}
.login-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f1f1f1;
  flex-direction: column;
  gap:20px;
  height: 100vh;
  background-color: #171A1E;
  font-weight: normal;
  font-size: 26px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #1f2329;
  color: white;
  margin-top: 200px;
}

.login-form h1 {
  margin-bottom: 1rem;
}

.login-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.login-form input {
  width: 100%;
  font-size: 24px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #171A1E;
  color: white;
}

.login-form-login-button{
  padding: 7px!important;
  color: #ffffff;
  font-size: 19px!important;
  cursor: pointer;
  border: 2px solid #685489!important;
  background-color: #171A1E!important;
  width: 150px!important;
  height: auto!important;
}


.login-form button:hover {
  background-color: #685489;
}
.fetching-notification{
  position: fixed;
  bottom: 200px;
}
.hide-notification-container{
  display: none;
}
.show-notification-container{
  display: flex;
}
.notification-container {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 22px;
  width: 500px;
  align-items: center;
  text-align: center;
  background-color: #cc2234;
  border:3px solid #cc2234;
  padding: 5px;
  margin-top: 60px;
}
.notificationText{
  height: 100%;
}

@keyframes slide-in {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0%);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

