.payment-form {
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.payment-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-form label {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.payment-form input {
    font-size: 1rem;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.payButton{
    margin-top: 10px;
    height: 50px;
    width: 20%;
    align-self: center;
}