.pc-managment-controls{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom:1px solid rgb(39, 39, 39);
}

.pc-managment-remote-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
    padding: 0rem 1rem;
    border-right:1px solid rgb(39, 39, 39);
}
.pc-managment-remote-control-option{
    width: 17.5px;
    height: 17.5px;
    cursor: pointer;
    opacity: 0.7;
}
.pc-managment-other-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0rem 1rem;
    padding-left: 8px;
}
.pc-managment-other-control{
    width: 17.5px;
    height: 17.5px;
    cursor: pointer;
    opacity: 0.7;
}

.pc-managment-remote-control-option:hover{
    opacity:1;
}
.pc-managment-other-control:hover{
    opacity:1;
}

.map-wrapper-managment{
    display: flex;
    align-items: flex-start;
    justify-content: center;  
    padding: 20px;
    padding-bottom: 100px;
    overflow-y: auto; 
    max-height: calc(100vh - 250px);
}

.select-workstation-error{
    background-color: #cc2234;
    font-size: 15px;
    color: white;
    padding: 0.2rem 0.4rem;
}


@media (max-width:600px){
    .map-wrapper-managment{
        padding: 3px;
    }
}