.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #5a189a;
    position: sticky;
    top: 0;
  }
  
  .topbar-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .topbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }
  
  .topbar-time-date {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .topbar-time{
    font-size:1.5rem;
  }

  .topbar-time, .topbar-date {
    color: white;
    font-weight: bold;
  }
  
  .topbar-right {
    cursor: pointer;
    margin-right: 20px;
  }
  
  .topbar-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  