.user-dashboard{
    width: calc(100% - 60px);
    height: calc(100% - 101px);
    background-color:#171A1E;
    position: absolute;
    right: 0;
    z-index: 2;
    color: white;
    overflow-y: auto;
    transition: background-color 3s;
}

.user-dashboard.transition-to-black {
    background-color: #000000;
}

.user-topback-back-to-list{
    padding: 1rem;
    height: 100%;
    width: 100%;
}
.user-topback-back-to-list:hover{
    background-color: black;
}
.user-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(39, 39, 39);
}
.user-topbar-2{
    border-bottom: 1px solid rgb(39, 39, 39);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete-user{
    padding: 1rem;
    border-left: 1px solid rgb(39, 39, 39);
}
.delete-user:hover{
    background-color: black;
}
.delete-user-img{
    width: 20px;
    height: 20px;
}

.user-dashboard-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user-data-block{
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid rgb(39, 39, 39);
    margin-top: 10px;

}
.user-data-block-value{
    font-size: 2.5rem;
}
.user-dashboard-data-blocks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.data-block-button{
    margin-top: 13px;
    border: 2px solid #cc2234!important;
    font-size: 1.3rem!important;
    width: 200px!important;
    height: auto!important;
    padding: 0.5rem!important;
    align-items: flex-start!important;
    justify-content: start;
}

.user-dashboard-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(39, 39, 39);
    border-top: 1px solid rgb(39, 39, 39);
    margin-top: 10px;
}

.user-dashboard-actions-text{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.2rem;
}

.empty-text{
    color: transparent;
    padding: 10px;
}


.user-basic-infos{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 1.5rem;
}

.user-basic-info-text{
    text-align: center;
    font-size: 2rem;
}
.basic-info{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    gap:20px;
    padding: 1rem;
    justify-content: center;
    border: 1px solid rgb(39, 39, 39);
}
.user-basic-info-text{
    padding-top:10px ;
}

.basic-info-value{
    font-size: 1.8rem;
}


@keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 100%;
    }
    100% {
      opacity: 0%;
      transform: translateX(100%);
    }
  }
  
  .slide-out-1 {
    animation: slideOut 0.5s forwards;
  }
  
  .slide-out-2 {
    animation: slideOut 0.5s 0.1s forwards;
  }
  
  .slide-out-3 {
    animation: slideOut 0.5s 0.2s forwards;
  }
  .slide-out-4 {
    animation: slideOut 0.5s 0.3s forwards;
  }
  .slide-out-5 {
    animation: slideOut 0.5s 0.4s forwards;
  }
  