.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 60px); 
    margin-top: 60px; 
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebarButtons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    gap:10px;
  }
  .sidebar-button {
    width: 40px;
    background-color: #5a189a;
    color: white;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #451277;
  }
  