.AddWorkstation{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: calc(100% - 101px);
    width: calc(100% - 60px);
    z-index: 5;
    left: 60px;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}