.cash-register-refill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 161px);
}
.cash-register-refill-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
.cash-register-refill-right{
}