.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    table-layout: fixed;

}

.table>thead{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
}

.table-wrapper {
    width: 100%;
    overflow-y: auto;
}

.roundTopLeftEdge {
    border-top-left-radius: 10px;
}

.roundTopRightEdge {
    border-top-right-radius: 10px;
}

.borderLeft {
    border-left: 1px solid rgb(39, 39, 39);
}

.borderTop {
    border-top: 1px solid rgb(39, 39, 39);
}

.borderBottom {
    border-bottom: 1px solid rgb(39, 39, 39);
}

th {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid rgb(39, 39, 39);
    background-color: #1c2025;
    color: white;
    border-left: 1px solid rgb(39,39,39);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

td {
    height: 30px;
    padding: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

tr:nth-child(even) {
    background-color: #171A1E;
    color: white;
}

tr:nth-child(odd) {
    color: white;
    background-color: #171A1E;
}



.total-amount {
    padding-top: 20px;
    text-align: right;
}

.table-head-row{
    font-weight: normal;
    overflow: hidden;
}

.table-row{
    width: 100%;
    display: grid; 
}

.table-row-data{
    overflow: hidden;
}

.table-row:hover td {
    background-color: black;
    color: white;
}


@media (max-width:550px){
    td,th{
        text-indent: 0px;
    }
}