.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
table {
    border-collapse: collapse;
    width: 100%;
}

.table-wrapper {
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.roundTopLeftEdge {
    border-top-left-radius: 10px;
}
.roundTopRightEdge{
    border-top-right-radius: 10px;
}

.borderRight{
    border-right: 1px solid rgb(39, 39, 39);
}
.borderLeft{
    border-left: 1px solid rgb(39, 39, 39);
}
.borderTop{
    border-top:  1px solid rgb(39, 39, 39);
}
.borderBottom{
    border-bottom: 1px solid rgb(39, 39, 39);
}

th,
td {
    padding: 0.5rem;
    text-align: left;
    border:  1px solid rgb(39, 39, 39);;
}
th {
    background-color: #171A1E;
    color: white;
}
tr:nth-child(even) {
    background-color: #171A1E;
    color: white;
}
tr:nth-child(odd) {
    color: white;
    background-color: #171A1E;
}



.total-amount{
    padding-top: 20px;
    text-align: right;
}
.table-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}


.table-row:hover td {
    background-color: black;
    color: white; /* change the font color on hover to maintain readability */
  }