.handle-button {
    border: 4px solid #685489;
    width: 300px;
    height: 100px;
    background-color: #171A1E;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .handle-button-text {
    z-index: 1;
  }
  
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    pointer-events: none;
  }
  
  .handle-button:hover .circle {
    transform: translate(-50%, -50%) scale(85);
  }
  