.close-cash-register{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: calc(100% - 101px);
    width: calc(100% - 60px);
    z-index: 5;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.close-cash-register-wrap{
    background-color: #171A1E;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.close-cash-register-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    font-size: 1.3rem;
}


.close-cash-register-inputs > h1 {
    margin-bottom: 1rem;
    font-weight: normal;
}

.close-cash-register-inputs >p {
    margin-bottom: 0.5rem;
}

.close-cash-register-inputs >input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #1c2025;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
.close-cash-register-inputs>input::placeholder{
    text-align: center;
}

.close-cash-register-inputs>input:focus::placeholder{
    color: transparent;
}


.close-cash-register-control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.close-cash-register-cancel{
width: 160px!important;
height: 47px!important;
background-color: #171A1E!important;
border: none!important;
color: white;
border: 2px solid #554570!important;
cursor: pointer;
font-size: 20px!important;
}

.close-cash-register-yes{
    background-color: #171A1E!important;
    border: 2px solid #554570!important;
    width: 160px!important;
    height: 47px!important;
    color: white;
    cursor: pointer;
    font-size: 20px!important;
}