.uTopbar{
    height: 70px;
    color: gray;
    background-color: black;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgb(39, 39, 39);
}
.uTopbarText{
    margin-bottom: 5px;
}

.uOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: gray;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid rgb(39, 39, 39);
}
.uOption{
    margin-left: 20px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}