.internalTopbar{
    height: 70px;
    color: gray;
    background-color: black;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgb(39, 39, 39);
    text-indent: 20px;
}
.internalTopbarText{
    margin-bottom: 5px;
}