.CashRegisterRefund {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 161px);
}

.cash-register-refund-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:100px;
    margin-top: 50px;
}

.refund-actually::placeholder{
    transform: none!important;
}
.refund-actually:focus{
    border: none!important;
}
.cash-register-refill-right{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  }

.cash-register-refund-receipt-status{
    color: white;
    background-color: black;
}

.cash-register-refill-username-actually-receipt-img {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
.input-container-receipt-img-wrap{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-wrapper:hover{
    border: 1px solid white;
}
.input-wrapper:focus-within {
    border: 1px solid white; 
  }
  

.input-container-receipt {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.receipt-status,.receipt-amount-can-refund{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 2rem;
    padding: 0.1rem 5rem;
    border-bottom: 1px solid rgb(39,39,39);
}
.receipt-status-text,.receipt-amount-can-refund-text,.receipt-amount-can-refund-value{
    text-align: center;
}
.receipt-status-value{
    text-align: center;
}

.receipt-amount-can-refund-value,.receipt-status-value{
    padding-bottom: 0.1rem;
    font-size: 2.2rem;
}
.cash-register-refund-button{
    position: relative;
    top: -10%;
}

.input-wrapper {
    position: relative;
    display: inline-block;
  }