.Workstation{
    width: 40px;
    height: 40px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Workstation *{
    pointer-events: none;
}
.workstation-number{
    width: 92%;
    height: 92%;
    text-align: center;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
